<% if current_user.admin? %>
  <h1>Manage Publications:</h1>
<% else %>
  <h1>Publications:</h1>
<% end %>

<div class="publications_show">

  <table class="publication_list">
    <% @publications.each do |publication| %>
      <tr>
        <td class="publication_item"> <%= publication.name %></td>
        <td class="publication_button"> <%= link_to "More info", publication %></td>
        <td class="subscribe_button">
          <% if !@user_subscriptions.include?(publication.id) %>
            <%= form_tag subscriptions_path, method: :post do %>
              <%= hidden_field_tag :publication_id, publication.id %>
              <%= submit_tag "Subscribe" %>
            <% end %>
          <% else %>
            Subscribed
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>