<%= form_for @article, :url => publication_articles_path do |f| %>
  <table class="form_styling">
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit 'Add Article' %></td>
    </tr>
  </table>
<% end %>