<%= @notice %>
<% if @user.errors.present? %>
  <div class="errors">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user do |f| %>
  <table class="form_styling">
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>

    <tr>
      <td><%= f.label :password_confirmation, "Password Confirmation" %></td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>

    <tr>
      <td class="terms_of_service"> I agree to <%= link_to 'Terms of Service', terms_path %>&nbsp; </td>
      <td><%= f.check_box :terms_of_service, id: 'terms' %></td>
    </tr>
    <tr>
      <td><%= f.submit :register, :value => "Register" %></td>
    </tr>
<% end %>
</table>

