<!DOCTYPE html>
<html>
<head>
  <title>Newsletter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <script>Stripe.setPublishableKey('pk_test_RP4h30uc0JlczUM48hn7EnhD');</script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1 class="home" data-homepage="<%= root_url %>">Newsletter</h1>

  <ul class="secondary-nav">
    <% if logged_in? %>
      <li>| <%= link_to "My Subscriptions", user_path(current_user.id) %></li>
      <li>| <%= link_to "All Publications", publications_path %></li>
      <% if current_user.admin? %>
        <li>| <%= link_to "Add Publication", new_publication_path %></li>
      <% end %>
      <li>| <%= link_to "Logout", logout_path %> |</li>
    <% else %>
      <li>| <%= link_to "Login", new_session_path %></li>
      <li>| <%= link_to "Register", new_user_path %> |</li>
    <% end %>
    <br>
    <br>
    <% if logged_in? %>
      <li class="user_name"><%= current_user.email %></li>
    <% end %>
  </ul>

</header>

<div class="welcome_flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
</div>


<main>
  <%= yield %>
</main>

</body>
</html>
